[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
pydantic = "*"
sqlalchemy = "*"
sqlmodel = "*"
starlette = "*"
uvicorn = "*"
alembic = "*"
mysql-connector-python = "*"
pyjwt = "*"
passlib = "*"
bcrypt = "<4.0.0"

[dev-packages]

[requires]
python_version = "3.13"
